{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}

	<div class="container">
		<div class="col-12  d-flex justify-content-center p-4">
			<p>
				<img src="{{ asset("/img/profile/"~user.profile.source) }}" class="" alt="...">
				Bienvenue
				{{ user.name}}
				{{ user.surname }}
			</p>
		</div>
	</div>

	<div class="container">
			{% if user.trip is empty %}
				<div class="col-12 d-flex justify-content-center">
					<p>Votre liste de voyage est vide</p>
				</div>
			{% else %}
			<div class="d-flex flex-row flex-wrap justify-content-start p-5">
				{% for users in user.trip %}
					<div class="card col-3 mx-3">
						<a href="{{ path('app_trip', {'id': users.id }) }}">
							<img src="{{ asset("/img/trip/"~users.photo[0].source) }}" class="tripCard" alt="...">
						</a>
						<div class="card-body">
							<h5 class="card-title">{{ users.name }}
								le
								{{ users.createdAt|date("d/m/Y", "Europe/Paris") }}</h5>
							<p class="card-text">{{ users.description}}</p>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		<div>
	<div>
{% endblock %}

